<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpages</title>
</head>
<body bgcolor="a">
    <center>
        <table bgcolor="white" border="2px" cellpadding="10px" cellspacing="5px">
                <tr>
                    <th>serial.no</th>
                    <th>Topic_name</th>
                    <th>name</th>
                    <th>url</th>
                    <th>email</th>
                    
                </tr>
                {% for wp in Webpage %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ wp.topic_name }}</td>
                    <td>{{ wp.name }}</td>
                    <td>{{ wp.url }}</td>
                    <td>{{ wp.email }}</td>

                </tr>
                {% endfor %}
        </table>
    </center>    
    
</body>
</htmlW