<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>if condition</h1>

        {% if  a < b %}
        {{a}}
        {% endif %}

    <h1>if else condition</h1>

        {% if  a > b %}
        {{a}}
        {% else %}
        {{b}}
        {% endif %}
    
    <h1>if elif condition</h1>

        {% if  a > b %}
        {{a}}
        {% elif  b > c %}
        {{b}}
        {% else %}
        {{c}}
        {% endif %}

    <h1> nested if condition</h1>

        {% if  a > b %}
            {% if  a < b %}
            {{a}}
            {% else %}
            {{b}}
            {% endif %}
        
        {% else %}
            {% if  c > d %}
            {{c}}
            {% else %}
            {{d}}
            {% endif %}
        {% endif %}

    
    
</body>
</html>