{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <center>
    <h1>Ayushman khurana</h1>

    <img src="{% static 'images/ayushmann.png' %}" alt=" no images" height="400px" width="400px">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptatem atque eligendi quam ullam, voluptates quod mollitia animi odio eos libero tempore, explicabo tempora dignissimos. Itaque officiis assumenda id repellendus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sint et vel facilis mollitia quia. Praesentium eius beatae culpa eos tenetur voluptatem! Suscipit, sequi repudiandae molestiae maxime nemo deleniti aspernatur.lorem 100

    </p>
</center>
</body>
</html>