<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student</title>
    <style>
        div
        {
            
            color:white;
            margin-top: 200px;
            width:500px;
        }
        input{
            border-radius: 10px;
            padding:5px;
        }
        fieldset{
            border-radius: 15px;
        }

    </style>
</head>
<body bgcolor="black">
    <center>
    <div>
        <form action="" method="POST">
            {% csrf_token %}

            <fieldset>
                <legend>Student Registration</legend>
                <table>
                    <tr>
                        <td><label for="sid">Student_Id</label></td>
                        <td><input type="text" name="sid" id="sid" placeholder="Enter Student Id"></td>
                    </tr>
                                        
                    <tr>
                        <td><label for="sn">student_name</label></td>
                        <td><input type="text" name="sn" id="sn" placeholder="Enter Student Name"></td>
                    </tr>
                                        
                    <tr>
                        <td><label for="sd">student_D.O.B</label></td>
                        <td><input type="date" name="sd" id="sd" placeholder="Enter D.O.B (YYYY-MM-DD)"></td>
                    </tr>
                                        
                    <tr>
                        <td><label for="cid">course_id</label></td>
                        <td>
                            <select name="cid" id="cid">
                                {% for co in courses %}
                                <option value="{{ co.cid }}">{{ co.cname }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                                    
                    <tr>
                        <td><input type="submit" value="student_register"></td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
    </center>
</body>
</html>